<?xml version="1.0" encoding="UTF-8"?>

<suite name="MySuite">

    <listeners>
        <listener class-name="Claims.Project.listeners.ExtentListener"/>
    </listeners>

    <test name="SmokeTest">
        <classes>
            <class name="Claims.PartnerAdmin.Partner_Admin_FlowTest"/>
        </classes>
    </test>

</suite>
